<form action="/users" method="post">
    <input type="text" name="user[username]" placeholder="Create a username"><br>
    <input type="email" name="user[email]" placeholder="Enter your email"><br>
    <input type="password" name="user[password]" placeholder="Create a password"><br>
    <input type="submit" value="Create Account">

</form>