<form action="/users" method="post">
    <input type="text" name="user[username]" placeholder="Create a username">
    <input type="email" name="user[email]" placeholder="Enter your email">
    <input type="password" name="user[password]" placeholder="Create a password">
    <input type="submit" value="Create Account">

</form>