<h1 style="text-align: center;">Create an Account</h1>

<form style="text-align: center;" action="/users" method="post">
    <input type="text" name="user[username]" placeholder="Create a username"><br><br>
    <input type="email" name="user[email]" placeholder="Enter your email"><br><br>
    <input type="password" name="user[password]" placeholder="Create a password"><br><br>
    <input type="submit" value="Create Account"><br><br>
    <a style="float: right;" href="/login">Go to Log In</a>
</form>